service: inveniordm
image: front-matter/rogue-scholar
servers:
  web:
    hosts:
      - 176.9.24.117
    labels:
      service: inveniordm
    cmd: gunicorn --bind=0.0.0.0:4000 --workers=4 --access-logfile=- --error-logfile=- --log-level=ERROR invenio_app.wsgi:application
  worker:
    hosts:
      - 176.9.24.117
    cmd: celery -A invenio_app.celery worker --beat --events

proxy:
  ssl: true
  host: rogue-scholar.org
  ssl_redirect: true
  forward_headers: true
  app_port: 4000
  healthcheck:
    path: /ping
    interval: 30
    timeout: 10

registry:
  server: ghcr.io
  username: mfenner
  password:
    - KAMAL_REGISTRY_PASSWORD

builder:
  arch: amd64
  context: .
  remote: ssh://root@176.9.24.117
  cache:
    type: registry

env:
  clear:
    INVENIO_SITE_UI_URL: https://rogue-scholar.org
    INVENIO_SITE_API_URL: https://rogue-scholar.org/api
    INVENIO_WSGI_PROXIES: 4
    INVENIO_DATADIR: /opt/invenio/var/instance/data
    INVENIO_LOGGING_CONSOLE_LEVEL: ERROR
    # accessories db, cache, search
    POSTGRES_DB: scholar
    INVENIO_CACHE_TYPE: redis
    INVENIO_CACHE_REDIS_URL: redis://inveniordm-cache:6379/6
    INVENIO_ACCOUNTS_SESSION_REDIS_URL: redis://inveniordm-cache:6379/7
    INVENIO_CELERY_RESULT_BACKEND: redis://inveniordm-cache:6379/8
    INVENIO_RATELIMIT_STORAGE_URL: redis://inveniordm-cache:6379/9
    INVENIO_COMMUNITIES_IDENTITIES_CACHE_REDIS_URL: redis://inveniordm-cache:6379/10
    INVENIO_BROKER_URL: redis://inveniordm-cache:6379/11
    INVENIO_CELERY_BROKER_URL: redis://inveniordm-cache:6379/11
    INVENIO_SEARCH_HOSTS: inveniordm-search:9200
    INVENIO_SEARCH_INDEX_PREFIX: invenio-rdm-
    INVENIO_THEME_SITENAME: Rogue Scholar
    INVENIO_THEME_FRONTPAGE_TITLE: "Science blogging on steroids."
    INVENIO_THEME_FRONTPAGE_SUBTITLE: "The Rogue Scholar science blog archive improves science blogs in important ways, including full-text search, long-term archiving, DOIs and metadata, and communities."
    INVENIO_THEME_LOGO: images/rogue-scholar-white.svg
    INVENIO_RDM_ALLOW_EXTERNAL_DOI_VERSIONING: False
    INVENIO_LEGACY_URL: https://legacy.rogue-scholar.org
    # mail
    INVENIO_MAIL_DEFAULT_SENDER: info@rogue-scholar.org
    INVENIO_SECURITY_EMAIL_SENDER: info@rogue-scholar.org
    INVENIO_APP_RDM_ADMIN_EMAIL_RECIPIENT: info@rogue-scholar.org
  secret:
    - INVENIO_SQLALCHEMY_DATABASE_URI
    - OPENSEARCH_INITIAL_ADMIN_PASSWORD
    - INVENIO_SECRET_KEY
    - INVENIO_SENTRY_DSN
    - INVENIO_TRUSTED_HOSTS
    - INVENIO_CROSSREF_USERNAME
    - INVENIO_CROSSREF_PASSWORD
    # mail
    - INVENIO_MAIL_SERVER
    - INVENIO_MAIL_PORT
    - INVENIO_MAIL_USERNAME
    - INVENIO_MAIL_PASSWORD
    - INVENIO_MAIL_USE_TLS
    # oauth authentication
    - INVENIO_ORCID_APP_CREDENTIALS_CONSUMER_KEY
    - INVENIO_ORCID_APP_CREDENTIALS_CONSUMER_SECRET
    - INVENIO_POCKETID_APP_CREDENTIALS_CONSUMER_KEY
    - INVENIO_POCKETID_APP_CREDENTIALS_CONSUMER_SECRET

volumes:
  - inveniordm:/opt/invenio/var/instance/data

accessories:
  cache:
    image: valkey/valkey:7.2.5
    host: 176.9.24.117
    port: 6379
    cmd: valkey-server /etc/valkey.conf
    files:
      - config/valkey.conf:/etc/valkey.conf
    volumes:
      - /var/lib/valkey:/data
  search:
    image: opensearchproject/opensearch:2.18.0
    host: 176.9.24.117
    port: 9200
    env:
      clear:
        discovery.type: single-node
        bootstrap.memory_lock: true
        OPENSEARCH_JAVA_OPTS: "-Xms512m -Xmx512m"
        DISABLE_INSTALL_DEMO_CONFIG: true
        DISABLE_SECURITY_PLUGIN: true
      secret:
        - OPENSEARCH_INITIAL_ADMIN_PASSWORD
    options:
      memory: 4g
      publish:
        - 9600:9600
  pocketid:
    image: ghcr.io/pocket-id/pocket-id:v1.7.0
    host: 176.9.24.117
    port: 1411
    proxy:
      ssl: true
      host: auth.rogue-scholar.org
      ssl_redirect: true
      forward_headers: true
      app_port: 1411
      healthcheck:
        path: /healthz
        interval: 30
        timeout: 10
    directories:
      - data:/app/data
    env:
      clear:
        APP_URL: https://auth.rogue-scholar.org
      secret:
        - DB_PROVIDER
        - DB_CONNECTION_STRING
        - TRUST_PROXY
        - MAXMIND_LICENSE_KEY
        - ENCRYPTION_KEY
        - PUID
        - PGID
  listmonk:
    image: listmonk/listmonk:v5.1.0
    host: 176.9.24.117
    port: "127.0.0.1:9000:9000"
    proxy:
      ssl: true
      host: listmonk.rogue-scholar.org
      ssl_redirect: true
      forward_headers: true
      app_port: 9000
      healthcheck:
        path: /
        interval: 30
        timeout: 10
    cmd: sh -c "./listmonk --install --idempotent --yes --config '' && ./listmonk --upgrade --yes --config '' && ./listmonk --config ''"
    env:
      clear:
        LISTMONK_app__address: 0.0.0.0:9000
        LISTMONK_db__port: 5432
      secret:
        - LISTMONK_db__user
        - LISTMONK_db__password
        - LISTMONK_db__database
        - LISTMONK_db__host
        - LISTMONK_db__ssl_mode
        - LISTMONK_db__max_open
        - LISTMONK_db__max_idle
        - LISTMONK_db__max_lifetime
        - TZ
  plausible:
    image: ghcr.io/plausible/community-edition:v3.0.1
    host: 176.9.24.117
    port: 8000
    cmd: sh -c "/entrypoint.sh db createdb && /entrypoint.sh db migrate && /entrypoint.sh run"
    proxy:
      ssl: true
      host: plausible.rogue-scholar.org
      ssl_redirect: true
      forward_headers: true
      app_port: 8000
      healthcheck:
        path: /api/health
        interval: 30
        timeout: 10
    env:
      clear:
        BASE_URL: https://plausible.rogue-scholar.org
        MAILER_EMAIL: info@rogue-scholar.org
        MAILER_NAME: Rogue Scholar
      secret:
        - SECRET_KEY_BASE
        - DATABASE_URL:PLAUSIBLE_DATABASE_URL
        - CLICKHOUSE_DATABASE_URL
        - DISABLE_REGISTRATION
        - ENABLE_EMAIL_VERIFICATION
        - SMTP_HOST_ADDR:INVENIO_MAIL_SERVER
        - SMTP_PORT:INVENIO_MAIL_PORT
        - SMTP_USER_NAME:INVENIO_MAIL_USERNAME
        - SMTP_USER_PWD:INVENIO_MAIL_PASSWORD
        - GOOGLE_CLIENT_ID
        - GOOGLE_CLIENT_SECRET

  events-db:
    image: clickhouse/clickhouse-server:25.7-alpine
    host: 176.9.24.117
    port: 8123
    env:
      secret:
        - CLICKHOUSE_PASSWORD
    directories:
      - event-data:/var/lib/clickhouse
      - event-logs:/var/log/clickhouse-server
    files:
      - ./clickhouse/logs.xml:/etc/clickhouse-server/config.d/logs.xml:ro
      # This makes ClickHouse bind to IPv4 only, since Docker doesn't enable IPv6 in bridge networks by default.
      # Fixes "Listen [::]:9000 failed: Address family for hostname not supported" warnings.
      - ./clickhouse/ipv4-only.xml:/etc/clickhouse-server/config.d/ipv4-only.xml:ro
      # This makes ClickHouse consume less resources, which is useful for small setups.
      # https://clickhouse.com/docs/en/operations/tips#using-less-than-16gb-of-ram
      - ./clickhouse/low-resources.xml:/etc/clickhouse-server/config.d/low-resources.xml:ro

  monitor:
    image: grafana/alloy:v1.9.2
    host: 176.9.24.117
    port: 12345
    files:
      - config/config.alloy:/etc/alloy/config.alloy
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    env:
      clear:
        server.http.listen-addr: "0.0.0.0:12345"
        storage.path: /var/lib/alloy/data
      secret:
        - PROMETHEUS_TOKEN
        - LOKI_TOKEN
deploy_timeout: 45
