project:
  type: website
  output-dir: _site
  preview:
    port: 4500
execute:
  freeze: true
website:
  title: "Rogue Scholar Documentation"
  favicon: favicon.ico
  site-url: https://docs.rogue-scholar.org
  repo-url: https://github.com/front-matter/rogue-scholar
  repo-subdir: docs
  repo-actions: [edit, issue]
  bread-crumbs: false
  open-graph: true
  navbar:
    background: light
    logo: "/images/icon.png"
    logo-alt: "Rogue Scholar Documentation"
    right:
      - icon: github
        href: https://github.com/front-matter/rogue-scholar
  sidebar:
    contents:
      - index.qmd
      - guidelines.qmd
      - metadata.qmd
      - doi.qmd
      - references.qmd
      - section: "Blogging Platforms"
        contents:
          - platforms.qmd
          - blogger.qmd
          - wordpress.qmd
          - hugo.qmd
          - jekyll.qmd
          - ghost.qmd
          - quarto.qmd
      - api.qmd
      - dashboard.qmd
  page-footer:
    left: "Copyright &copy;2023-2025 Rogue Scholar."
    right:
      - icon: envelope
        href: mailto:info@rogue-scholar.org
      - icon: mastodon
        href: https://wisskomm.social/@rogue_scholar

format:
  html:
    theme:
      light: [flatly, theme.scss]
      dark: [darkly, theme.scss]
    page-layout: article
    toc: true
    toc-location: right
    include-in-header:
      text: |
        <script async src="https://plausible.front-matter.de/js/pa-VEqoiqOwSynRPtmJoUE6d.js"></script>
        <script>
          window.plausible=window.plausible||function(){(plausible.q=plausible.q||[]).push(arguments)},plausible.init=plausible.init||function(i){plausible.o=i||{}};
          plausible.init()
        </script>
    comments:
      giscus:
        repo: front-matter/rogue-scholar
        category-id: DIC_kwDOItYbpM4CTyur
        mapping: url
bibliography: references.json
csl: apa.csl
