name: Update Blogs
on:
  workflow_dispatch:
  schedule:
    - cron: "30 7 * * *"
jobs:
  update:
    runs-on: ubuntu-latest
    steps:
      - name: update Rogue Scholar blogs
        run: |
          curl -X POST -H "Authorization: Bearer ${{ secrets.SUPABASE_KEY }}" https://api.rogue-scholar.org/blogs
