name: Classify Rogue Scholar Records
on:
  workflow_dispatch:
  schedule:
    - cron: "*/15 * * * *"
jobs:
  update:
    runs-on: ubuntu-latest
    steps:
      - name: Classify posts
        run: |
          curl -X POST -H "Authorization: Bearer ${{ secrets.SUPABASE_KEY }}" "https://api.rogue-scholar.org/blogs/vgrass/posts?update=unclassified&validate=all&classify=all&page=999"
