name: Update Posts
on:
  workflow_dispatch:
  schedule:
    - cron: "5-59/10 * * * *"
jobs:
  update:
    runs-on: ubuntu-latest
    steps:
      - name: update Rogue Scholar posts
        run: |
          curl -X POST -H "Authorization: Bearer ${{ secrets.SUPABASE_KEY }}" https://api.rogue-scholar.org/posts?classify=all
